*{
text-decoration: none;
padding : 0;
margin :0;
list-style: none;
box-sizing: border-box;
}

label.logo {
fonnt-size : 24px;
line-height : 80px;
}
nav {
background : white;
width : 100%;
height : 80px;
border: solid 2px #f1f1f1;
}
nav ul {
float : right;
margin-right : 20px;
}
nav ul li {
line-height : 80px;
display : inline-block;
padding : 0 5px;
}
nav ul li a {
color : black;
font-size : 17px;
text-transform: uppercase;
}
.active, a:hover {
	background: orange;
}
.checkbtn {
font-size : 24px;
float : right;
margin-right : 20px;
line-height : 80px ;
display : none;
}
.head {
	padding: 0;
	text-align: center;
	margin-bottom: 10px;
}
.tab {
	border: none;
	padding-left: 40px;

}
.tab0 {
	width: 170px;
	float: left;
	border: solid 1px #f1f1f1;
	margin-right: 25px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 10px;
	padding: 10px;
	line-height: 40px;
}
.tab0 a {
	padding: 8px 12px;
	background: black;
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.tab0 p {
	font-size: 15px;
}
.footer {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: oranges;

}

.fot1 {
	float: left;
	padding: 0px;
	background: orange;
	width: 25%;
	font-size: 1rem;
	border-right: solid 1px #f1f1f1;


}
.fot1 h3 {
	padding: 20px;
	text-align: center;
}
.fot1 p {
	padding: 10px;
	text-align: center;
}
.fot1 a {
	padding: 90px;
	font-size: 30px;
	margin-left: 0px;
	line-height: 50px;
}
.fotboder {
text-align: center;
padding: 50px;
background: orange;
font-size: .8rem;
margin-top: 170px;
}





#check {
display : none;
}

@media (max-width : 850px) {
label.logo {
font-size : 24px;
margin-left : 0px;
}
nav ul li a {
font-size : 16px;
color : black;
}
@media (max-width : 952px) {

.checkbtn {
display : block;
}
ul {
position : fixed;
width : 100%;
height : 80vh;
top : 80px;
left : -100%;
transition : .3s;
background : pink;
text-align : center;
}
nav ul li {
display : block;
}
.active, a:hower {
	background-color: none;
	color: white;
}
#check:checked ~ ul {
left : 0;
}
nav ul li a {
font-size : 24px;
color: white;
}
.tab {
	padding: 10px;


}
.tab0 {
	width : 180px;
	margin-right : 10px;
	margin-left : 10px;
}
.footer {
	margin-right: -0px;
	margin-left: 0;
	margin-top: 0px;
}
.fotboder {
	font-size: 10px;
	margin-top: 140px;
	margin-right: 0px;
}
.fot1 {
width: 25%;
}
.fot1 a {
	padding: 20px;
	margin-left: 0px;
	line-height: 40px;
}
.fot1 h3 {
	font-size: .8rem;
}
.fot1 p {
	font-size: .6rem;
}